@import "tailwindcss";
@import "tw-animate-css";
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

* {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #8f64e1;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  position: relative;
  margin: 0 8px;
}

input[type="radio"]:checked {
  background-color: #8f64e1;
  border-color: #8f64e1;
}

input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
}
